.cards {
    margin-top: 40px;
    padding: 40px;
}

.card {
    width: 310px;
    overflow: hidden;
    border-radius: 3%;
}

.post-pic {
    width: 100%;
    height: 185px;
    object-fit: cover;
    border-radius: 8px;
}

.author {
   width: 20%;
}

.avatar {
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.utilities {
 width: 57%;
 color: var(--light-black);
}

.data {
    margin-left: 1px;
}

.category {
   background-color: var(--light-gray);
   border-radius: 5px;
   padding: 2px 6px;
   font-size: 10px;
}